*~
.DS_STORE

node_modules/

test/.env
.env
dist/
coverage/
/docs/api/
/out/
/build/
example/freshworks-app/log/
example/freshworks-app/.fdk/localstore
example/freshworks-app/.fdk/store.sqlite
example/freshworks-app/.report.json
