{
  "swagger": "2.0",
  "info": {
    "description": "Freshteam public APIs",
    "version": "1.0.0",
    "title": "Freshteam Public APIs",
    "contact": {
      "name": "Freshteam",
      "url": "https://freshteam.com",
      "email": "support@freshteam.com"
    },
    "license": {
      "name": "freshworks"
    }
  },
  "host": "adityasharma2519.freshteam.com",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/employees": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Employees List",
        "description": "List of active employees from directory",
        "operationId": "get_employees",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "the status key",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            },
            "collectionFormat": "csv"
          },
          {
            "name": "first_name",
            "in": "query",
            "description": " First Name of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Last Name of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "personal_email",
            "in": "query",
            "description": "Personal Email of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "official_email",
            "in": "query",
            "description": "Official Email of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "employee_type",
            "in": "query",
            "description": "Employee type of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "department",
            "in": "query",
            "description": "the identifier of users departments to query, as id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "business_unit",
            "in": "query",
            "description": "the identifier of users business units to query, as id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "location",
            "in": "query",
            "description": "the identifier of user location, as id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "reporting_manager",
            "in": "query",
            "description": "the identifier of user reporting manager, as id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "employee_id",
            "in": "query",
            "description": "Employee Id of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "the identifier of user updated_since",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "draft",
            "in": "query",
            "description": "the identifier of user draft",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "deleted",
            "in": "query",
            "description": "the identifier of user deleted",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "terminated",
            "in": "query",
            "description": "the identifier of user terminated",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort By",
            "required": false,
            "type": "string",
            "enum": [
              "first_name",
              "last_name",
              "employee_id"
            ]
          },
          {
            "name": "sort_type",
            "in": "query",
            "description": "Sort Type",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "List of Employees",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Employee"
              }
            }
          },
          "400": {
            "description": "bad request",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_400"
            }
          },
          "401": {
            "description": "unauthenticated",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_401"
            }
          },
          "403": {
            "description": "unauthorised",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_403"
            }
          },
          "422": {
            "description": "unprocessable entity",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_422"
            }
          },
          "500": {
            "description": "internal server error",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_500"
            }
          },
          "503": {
            "description": "service unavailable",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create an Employee",
        "description": "Create an Employee",
        "operationId": "create_employee",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "employee",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmployeeCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created Employee",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "400": {
            "description": "bad request",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_400"
            }
          },
          "401": {
            "description": "unauthenticated",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_401"
            }
          },
          "403": {
            "description": "unauthorised",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_403"
            }
          },
          "422": {
            "description": "unprocessable entity",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_422"
            }
          },
          "500": {
            "description": "internal server error",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_500"
            }
          },
          "503": {
            "description": "service unavailable",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            }
          }
        }
      }
    },
    "/employees/{id}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Details of Employee",
        "description": "Get the Details of Employee in the Account",
        "operationId": "get_employee",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the employee identifier, as id",
            "required": true,
            "type": "integer"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional Properties to include in response",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "awards",
                "honors",
                "certificates",
                "licenses",
                "background_verification_details",
                "visas",
                "government_documents",
                "dependents",
                "bank_accounts",
                "prev_employments",
                "qualifications",
                "compensation_details",
                "bonuses",
                "stocks",
                "additional_teams",
                "additional_managers",
                "additional_hr_managers",
                "languages",
                "roles",
                "team",
                "branch",
                "business_unit",
                "sub_department",
                "department",
                "reporting_to",
                "hr_incharge",
                "level",
                "shift",
                "user_function",
                "cost_center",
                "user_title",
                "user_suffix_name",
                "user_honorary_suffix",
                "user_professional_suffix",
                "user_academic_suffix",
                "citizenship_status",
                "retirement_status",
                "termination_category"
              ]
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "Employee Details",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/EmployeeDetail"
            }
          },
          "400": {
            "description": "bad request",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_400"
            }
          },
          "401": {
            "description": "unauthenticated",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_401"
            }
          },
          "403": {
            "description": "unauthorised",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_403"
            }
          },
          "404": {
            "description": "not found",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_404"
            }
          },
          "422": {
            "description": "unprocessable entity",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_422"
            }
          },
          "500": {
            "description": "internal server error",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_500"
            }
          },
          "503": {
            "description": "service unavailable",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Update an Employee",
        "description": "Update an Employee",
        "operationId": "update_employee",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the employee identifier, as id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "employee",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmployeeCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "400": {
            "description": "bad request",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_400"
            }
          },
          "401": {
            "description": "unauthenticated",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_401"
            }
          },
          "403": {
            "description": "unauthorised",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_403"
            }
          },
          "404": {
            "description": "not found",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_404"
            }
          },
          "422": {
            "description": "unprocessable entity",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_422"
            }
          },
          "500": {
            "description": "internal server error",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          },
          "503": {
            "description": "service unavailable",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            }
          }
        }
      }
    },
    "/employees/{id}/send_invite": {
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Send Invite Email",
        "description": "Send Invite Email",
        "operationId": "send_invite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the employee identifier, as id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Employee Details",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "400": {
            "description": "bad request",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_400"
            }
          },
          "401": {
            "description": "unauthenticated",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_401"
            }
          },
          "403": {
            "description": "unauthorised",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_403"
            }
          },
          "404": {
            "description": "not found",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_404"
            }
          },
          "500": {
            "description": "internal server error",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          },
          "503": {
            "description": "service unavailable",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            }
          }
        }
      }
    },
    "/new_hires": {
      "get": {
        "tags": [
          "New Hire"
        ],
        "summary": "New Hires List",
        "description": "List of New Hires",
        "operationId": "get_new_hires",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "the status key",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "hired",
                "initiated",
                "submitted",
                "reviewed"
              ]
            },
            "collectionFormat": "csv"
          },
          {
            "name": "first_name",
            "in": "query",
            "description": " First Name of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Last Name of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "personal_email",
            "in": "query",
            "description": "Personal Email of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "official_email",
            "in": "query",
            "description": "Official Email of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "employee_type",
            "in": "query",
            "description": "Employee type of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "department",
            "in": "query",
            "description": "the identifier of users departments to query, as id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "business_unit",
            "in": "query",
            "description": "the identifier of users business units to query, as id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "location",
            "in": "query",
            "description": "the identifier of user location, as id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "reporting_manager",
            "in": "query",
            "description": "the identifier of user reporting manager, as id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "employee_id",
            "in": "query",
            "description": "Employee Id of users to query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "the identifier of user updated_since",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "draft",
            "in": "query",
            "description": "the identifier of user draft",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "deleted",
            "in": "query",
            "description": "the identifier of user deleted",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "terminated",
            "in": "query",
            "description": "the identifier of user terminated",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "no_show",
            "in": "query",
            "description": "the identifier of no show",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "joining_date",
            "in": "query",
            "description": "the identifier of date of joining of the user",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort By",
            "required": false,
            "type": "string",
            "enum": [
              "first_name",
              "last_name",
              "employee_id",
              "joining_date"
            ]
          },
          {
            "name": "sort_type",
            "in": "query",
            "description": "Sort Type",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "List of New Hires",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NewHire"
              }
            }
          },
          "400": {
            "description": "bad request",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_400"
            }
          },
          "401": {
            "description": "unauthenticated",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_401"
            }
          },
          "403": {
            "description": "unauthorised",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_403"
            }
          },
          "422": {
            "description": "unprocessable entity",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_422"
            }
          },
          "500": {
            "description": "internal server error",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_500"
            }
          },
          "503": {
            "description": "service unavailable",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "New Hire"
        ],
        "summary": "Create an NewHire",
        "description": "Create an NewHire",
        "operationId": "create_new_hire",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "new_hire",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewHireCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "NewHire",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/NewHire"
            }
          },
          "400": {
            "description": "bad request",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_400"
            }
          },
          "401": {
            "description": "unauthenticated",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_401"
            }
          },
          "403": {
            "description": "unauthorised",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_403"
            }
          },
          "422": {
            "description": "unprocessable entity",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_422"
            }
          },
          "500": {
            "description": "internal server error",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_500"
            }
          },
          "503": {
            "description": "service unavailable",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            }
          }
        }
      }
    },
    "/new_hires/{id}": {
      "get": {
        "tags": [
          "New Hire"
        ],
        "summary": "Details of NewHire",
        "description": "Get the Details of NewHire in the Account",
        "operationId": "get_new_hire",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the NewHire identifier, as id",
            "required": true,
            "type": "integer"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional Properties to include in response",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "awards",
                "honors",
                "certificates",
                "licenses",
                "background_verification_details",
                "visas",
                "government_documents",
                "dependents",
                "bank_accounts",
                "prev_employments",
                "qualifications",
                "compensation_details",
                "bonuses",
                "stocks",
                "additional_teams",
                "additional_managers",
                "additional_hr_managers",
                "languages",
                "roles",
                "team",
                "branch",
                "business_unit",
                "sub_department",
                "department",
                "reporting_to",
                "hr_incharge",
                "level",
                "shift",
                "user_function",
                "cost_center",
                "user_title",
                "user_suffix_name",
                "user_honorary_suffix",
                "user_professional_suffix",
                "user_academic_suffix",
                "citizenship_status",
                "retirement_status",
                "termination_category"
              ]
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "NewHire Details",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/NewHireDetail"
            }
          },
          "400": {
            "description": "bad request",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_400"
            }
          },
          "401": {
            "description": "unauthenticated",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_401"
            }
          },
          "403": {
            "description": "unauthorised",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
                "description": "UUID to identify the request"
              },
              "X-Freshteam-Api-Version": {
                "type": "string",
                "description": "API version"
              },
              "Per-Page": {
                "type": "integer",
                "description": "Max Number of objects per page"
              },
              "Total-Objects": {
                "type": "integer",
                "description": "Total Number of objects"
              },
              "Total-Pages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            },
            "schema": {
              "$ref": "#/definitions/inline_response_403"
            }
          },
          "404": {
            "description": "not found",
            "headers": {
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests left"
              },
              "X-RateLimit-Total": {
                "type": "integer",
                "format": "int32",
                "description": "Total number of requests allowed"
              },
              "X-RateLimit-Used-CurrentRequest": {
                "type": "integer",
                "format": "int32",
                "description": "Number of requests used"
              },
              "X-Request-Id": {
                "type": "string",
[...]
