swagger: "2.0"
info:
  version: 1.0.0
  title: Freshservice APIs
  description: Public REST APIs for Freshservice
  contact:
    email: mithun.mohandas@freshworks.com
schemes:
  - https
securityDefinitions:
  ApiKeyAuth:
    name: Authorization
    type: apiKey
    in: header
host: api.freshservice.com
tags:
  - name: Tickets
  - name: Problems
  - name: Changes
  - name: Releases
  - name: Requesters
  - name: Agents
  - name: Agent Groups
  - name: Locations
  - name: Products
  - name: Vendors
  - name: Assets
  - name: Purchase Orders
  - name: Asset Types
  - name: Departments
  - name: Business Hours
  - name: Projects
  - name: Solution Articles
  - name: Service Catalog
  - name: Announcements
  - name: Employee Onboarding
  - name: Canned Responses
  - name: Canned Response Folders
  - name: Applications
  - name: Customer Satisfaction Surveys
paths:
  /api/v2/departments:
    post:
      operationId: create-department
      tags:
        - Departments
      summary: Create Department
      description: Create a new Department (or Company in MSP Mode) in Freshservice
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: department
          description: Department that needs to be created
          required: true
          schema:
            $ref: "#/definitions/department"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              department:
                $ref: "#/definitions/department"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    get:
      operationId: list-departments
      tags:
        - Departments
      summary: List All Departments
      description: Retrieve a list of all Departments (or Companies in MSP Mode) in Freshservice
      produces:
        - application/json
      parameters:
        - in: query
          name: per_page
          type: integer
          default: 10
          description: The number of entries to retrieve in each page of a paginated list.
        - in: query
          name: page
          type: integer
          default: 1
          description: The page number to retrieve.
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              departments:
                type: array
                items:
                  $ref: "#/definitions/department"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  "/api/v2/departments/{department_id}":
    get:
      operationId: get-department
      tags:
        - Departments
      summary: View Department
      description: Retrieve the Department (or Company in MSP Mode) with the given ID from Freshservice
      produces:
        - application/json
      parameters:
        - name: department_id
          in: path
          description: ID of department to retrieve
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              department:
                $ref: "#/definitions/department"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    put:
      operationId: update-department
      tags:
        - Departments
      summary: Update Department
      description: Update an existing Department (or Company in MSP Mode) in Freshservice
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: department_id
          in: path
          description: ID of department to retrieve
          required: true
          type: integer
          format: int64
        - in: body
          name: department
          description: Department that needs to be created
          required: true
          schema:
            $ref: "#/definitions/department"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              department:
                $ref: "#/definitions/department"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    delete:
      operationId: delete-department
      tags:
        - Departments
      summary: Delete Department
      description: Delete the Department (or Company in MSP Mode) with the given ID from Freshservice
      parameters:
        - name: department_id
          in: path
          description: ID of department to delete
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  /api/v2/department_fields:
    get:
      operationId: list-department-fields
      tags:
        - Departments
      summary: List Department Fields
      description: Retrieve the Department Fields (or Company Fields in MSP Mode) from Freshservice. The fields will be returned in the sequence that they are displayed on the UI.
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              department_fields:
                type: array
                items:
                  $ref: "#/definitions/field_definition"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  /api/v2/agent_groups:
    post:
      operationId: create-agent-group
      tags:
        - Agent Groups
      summary: Create Agent Group
      description: Create a new Agent Group in Freshservice
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: agent_group
          description: Agent Group that needs to be created
          required: true
          schema:
            $ref: "#/definitions/agent_group"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              agent_group:
                $ref: "#/definitions/agent_group"
        "202":
          description: Accepted
          schema:
            type: object
            properties:
              agent_group:
                $ref: "#/definitions/agent_group"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    get:
      operationId: list-agent-groups
      tags:
        - Agent Groups
      summary: List All Agent Groups
      description: Retrieve a list of all Agent Groups in Freshservice
      produces:
        - application/json
      parameters:
        - in: query
          name: per_page
          type: integer
          default: 10
          description: The number of entries to retrieve in each page of a paginated list.
        - in: query
          name: page
          type: integer
          default: 1
          description: The page number to retrieve.
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              departments:
                type: array
                items:
                  $ref: "#/definitions/agent_group"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  "/api/v2/agent_groups/{agent_group_id}":
    get:
      operationId: get-agent-group
      tags:
        - Agent Groups
      summary: View Agent Group
      description: Retrieve the Agent Group with the given ID from Freshservice
      produces:
        - application/json
      parameters:
        - name: agent_group_id
          in: path
          description: ID of the agent group to retrieve
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              agent_group:
                $ref: "#/definitions/agent_group"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    put:
      operationId: update-agent-group
      tags:
        - Agent Groups
      summary: Update Agent Group
      description: Update an existing Agent Group in Freshservice
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: agent_group_id
          in: path
          description: ID of agent group to retrieve
          required: true
          type: integer
          format: int64
        - in: body
          name: agent_group
          description: Agent group that needs to be updated
          required: true
          schema:
            $ref: "#/definitions/agent_group"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              agent_group:
                $ref: "#/definitions/agent_group"
        "202":
          description: Accepted
          schema:
            type: object
            properties:
              agent_group:
                $ref: "#/definitions/agent_group"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    delete:
      operationId: delete-agent-group
      tags:
        - Agent Groups
      summary: Delete Agent Group
      description: Delete the Agent Group with the given ID from Freshservice
      parameters:
        - name: agent_group_id
          in: path
          description: ID of agent group to delete
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
          schema:
            type: object
            properties:
              agent_group:
                $ref: "#/definitions/agent_group"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  /api/v2/products:
    post:
      operationId: create-product
      tags:
        - Products
      summary: Create a new Product in the Product Catalog
      description: Create a new Product in the Product Catalog
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: product
          required: true
          schema:
            $ref: "#/definitions/product"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              product:
                $ref: "#/definitions/product"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    get:
      operationId: list-products
      tags:
        - Products
      summary: List All Products in the Product Catalog
      description: Get a list of all Products in Freshservice
      parameters:
        - in: query
          name: per_page
          type: integer
          default: 10
          description: The number of entries to retrieve in each page of a paginated list.
        - in: query
          name: page
          type: integer
          default: 1
          description: The page number to retrieve.
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              product:
                $ref: "#/definitions/product"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  "/api/v2/products/{product_id}":
    get:
      operationId: get-product
      tags:
        - Products
      summary: Retrieve a specific Product from the Product Catalog
      description: Retrieve a specific Product from the Product Catalog
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: product_id
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              product:
                $ref: "#/definitions/product"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    put:
      operationId: update-product
      tags:
        - Products
      summary: Update an existing Product in the Product Catalog
      description: Update an existing Product in the Product Catalog
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: product_id
          in: path
          required: true
          type: integer
        - in: body
          name: product
          required: true
          schema:
            $ref: "#/definitions/product"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              product:
                $ref: "#/definitions/product"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    delete:
      operationId: delete-product
      tags:
        - Products
      summary: Delete an existing Product from the Product Catalog
      description: Delete an existing Product from the Product Catalog
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: product_id
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  /api/v2/business_hours:
    get:
      operationId: list-business-hours-configs
      tags:
        - Business Hours
      summary: List All Business Hours Configurations
      description: Retrieve a list of all Business Hours configurations
      produces:
        - application/json
      parameters:
        - in: query
          name: per_page
          type: integer
          default: 10
          description: The number of entries to retrieve in each page of a paginated list.
        - in: query
          name: page
          type: integer
          default: 1
          description: The page number to retrieve.
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              business_hours:
                type: array
                items:
                  $ref: "#/definitions/business_hours"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  "/api/v2/business_hours/{business_hours_id}":
    get:
      operationId: get-business-hours-config
      tags:
        - Business Hours
      summary: View Business Hours Configuration
      description: Retrieve the Business Hours configuration with the given ID from Freshservice
      produces:
        - application/json
      parameters:
        - name: business_hours_id
          in: path
          description: ID of Business Hours configuration to retrieve
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              business_hours:
                type: array
                items:
                  $ref: "#/definitions/business_hours"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  /api/v2/locations:
    post:
      operationId: create-location
      tags:
        - Locations
      summary: Create a new Location
      description: Create a new Location
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: location
          required: true
          schema:
            $ref: "#/definitions/location"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              location:
                $ref: "#/definitions/location"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    get:
      operationId: list-locations
      tags:
        - Locations
      summary: List All Locations in Freshservice
      description: Get a list of all locations in Freshservice
      parameters:
        - in: query
          name: per_page
          type: integer
          default: 10
          description: The number of entries to retrieve in each page of a paginated list.
        - in: query
          name: page
          type: integer
          default: 1
          description: The page number to retrieve.
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              location:
                $ref: "#/definitions/location"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  "/api/v2/locations/{location_id}":
    get:
      operationId: get-location
      tags:
        - Locations
      summary: Retrieve a specific location
      description: Retrieve a specific location
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: location_id
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              location:
                $ref: "#/definitions/location"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    put:
      operationId: update-location
      tags:
        - Locations
      summary: Update an existing location
      description: Update an existing location
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: location_id
          in: path
          required: true
          type: integer
        - in: body
          name: location
          required: true
          schema:
            $ref: "#/definitions/location"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              location:
                $ref: "#/definitions/product"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    delete:
      operationId: delete-location
      tags:
        - Locations
      summary: Delete an existing location
      description: Delete an existing location
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: location_id
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  /api/v2/vendors:
    post:
      operationId: create-vendor
      tags:
        - Vendors
      summary: Create a new Vendor
      description: Create a new Vendor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: vendor
          required: true
          schema:
            $ref: "#/definitions/vendor"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              vendor:
                $ref: "#/definitions/vendor"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    get:
      operationId: list-vendors
      tags:
        - Vendors
      summary: List All Vednors in Freshservice
      description: Get a list of all Vendors in Freshservice
      parameters:
        - in: query
          name: per_page
          type: integer
          default: 10
          description: The number of entries to retrieve in each page of a paginated list.
        - in: query
          name: page
          type: integer
          default: 1
          description: The page number to retrieve.
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              vendor:
                $ref: "#/definitions/vendor"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  "/api/v2/vendors/{vendor_id}":
    get:
      operationId: get-vendor
      tags:
        - Vendors
      summary: Retrieve a specific vendor
      description: Retrieve a specific vendor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: vendor_id
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              vendor:
                $ref: "#/definitions/vendor"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    put:
      operationId: update-vendor
      tags:
        - Vendors
      summary: Update an existing vendor
      description: Update an existing vendor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: vendor_id
          in: path
          required: true
          type: integer
        - in: body
          name: vendor
          required: true
          schema:
            $ref: "#/definitions/vendor"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              vendor:
                $ref: "#/definitions/vendor"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    delete:
      operationId: delete-vendor
      tags:
        - Vendors
      summary: Delete an existing vendor
      description: Delete an existing vendor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: vendor_id
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  /api/v2/asset_types:
    post:
      operationId: create-asset-type
      tags:
        - Asset Types
      summary: Create a new Asset Type
      description: Create a new Asset Type
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Asset Types
          required: true
          schema:
            $ref: "#/definitions/asset_type"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              asset_type:
                $ref: "#/definitions/asset_type"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    get:
      operationId: list-asset-types
      tags:
        - Asset Types
      summary: List All Asset Types in Freshservice
      description: Get a list of all Asset Types in Freshservice
      parameters:
        - in: query
          name: per_page
          type: integer
          default: 10
          description: The number of entries to retrieve in each page of a paginated list.
        - in: query
          name: page
          type: integer
          default: 1
          description: The page number to retrieve.
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              asset_type:
                $ref: "#/definitions/asset_type"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  "/api/v2/asset_types/{asset_type_id}":
    get:
      operationId: get-asset-type
      tags:
        - Asset Types
      summary: Retrieve a specific asset type
      description: Retrieve a specific asset type
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: asset_type_id
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              vendor:
                $ref: "#/definitions/asset_type"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    put:
      operationId: update-asset-type
      tags:
        - Asset Types
      summary: Update an existing asset type
      description: Update an existing asset type
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: asset_type_id
          in: path
          required: true
          type: integer
        - in: body
          name: asset_type
          required: true
          schema:
            $ref: "#/definitions/asset_type"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              vendor:
                $ref: "#/definitions/asset_type"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    delete:
      operationId: delete-asset-type
      tags:
        - Asset Types
      summary: Delete an existing Asset Type
      description: Delete an existing Asset Type
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: asset_type_id
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  "/api/v2/asset_types/{asset_type_id}/fields":
    get:
      operationId: list-asset-type-fields
      tags:
        - Asset Types
      summary: List all fields for an asset type (including default fields)
      description: Retrieve the Asset Fields from Freshservice. The fields will be returned in the sequence that they are displayed on the UI (this includes the default fields common for all asset types and the fields specific to an asset type)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: asset_type_id
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              asset_type_fields:
                type: array
                items:
                  $ref: "#/definitions/asset_type_field_header"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  /api/v2/component_types:
    get:
      operationId: list-component-types
      tags:
        - Assets
      summary: List all component types
      description: Get a list of all component types in Freshservice along with the fields specific to the component type
      parameters:
        - in: query
          name: per_page
          type: integer
          default: 10
          description: The number of entries to retrieve in each page of a paginated list.
        - in: query
          name: page
          type: integer
          default: 1
          description: The page number to retrieve.
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              component_type:
                $ref: "#/definitions/component_type"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  /api/v2/assets:
    post:
      operationId: create-asset
      tags:
        - Assets
      summary: Create a new Asset
      description: Create a new Asset
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Asset
          required: true
          schema:
            $ref: "#/definitions/asset"
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              asset:
                $ref: "#/definitions/asset"
        "400":
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "405":
          description: Method Not Allowed
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "409":
          description: Conflict
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "415":
          description: Unsupported Media Type
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
    get:
      operationId: list-assets
      tags:
        - Assets
      summary: List all assets in Freshservice
      description: Get a list of all assets in Freshservice
      parameters:
        - in: query
          name: per_page
          type: integer
          description: The number of entries to retrieve in each page of a paginated list. This is not applicable when search or filter query is present.
          default: 30
          maximum: 100
        - in: query
          name: page
          type: integer
          default: 1
          description: The page number to retrieve.
        - type: boolean
          in: query
          name: trashed
          description: List assets in trash.
        - type: string
          in: query
          name: include
          description: Query param to include asset type fields in response.
        - type: string
          in: query
          name: filter
          description: 'The simple or compound query which needs to be applied as a filter to the list of asset. This string needs to be URL encoded.<br/> Supported Query Parameters:<br/>asset_type_id, department_id, location_id, asset_state, user_id, agent_id, name, asset_tag, created_at, updated_at.<br/>Sample Query: https://account.freshservice.com/api/v2/assets?filter="asset_type_id:12034 AND asset_tag:''HSN2323'' AND created_at:>''2018-08-10''"'
          pattern: \"(.*)\"
        - type: string
          in: query
          name: search
          description: 'The simple query which needs to be applied to search an asset from the list of assets.<br/> Supported Query Parameters:<br/>name, asset_tag, serial_number.<br/>Sample Query: https://account.freshservice.com/api/v2/assets?search="name:''dell monitor''"'
          pattern: '^\"\s*[^:]+:\s*\''.+\''\s*\"$'
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              asset:
                $ref: "#/definitions/asset"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/BadRequest"
          examples:
            Invalid search query format:
              description: Validation failed
              errors:
                - field: search
                  message: 'It should be in the format, "search_field:''search_term''"'
                  code: invalid_value
            Invalid search field in search query:
              description: Validation failed
              errors:
                - field: search
                  message: "It should be one of these values: 'name,asset_tag,serial_number'"
                  code: invalid_value
            Invalid filter query format:
              description: Validation failed
              errors:
                - field: filter
                  message: 'Given query is invalid, expected format "keyword:value  OPERATOR keyword:''string'' OPERATOR keyword:>''yyyy-mm-dd'' OPERATOR keyword:<integer". Space is mandatory between key/value pair and operator. Please check the paranthesis if there are any.'
                  code: invalid_value
            Invalid filter field in filter query:
              description: Validation failed
              errors:
                - field: hello
                  message: Unexpected/invalid field in request
                  code: invalid_value
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "429":
          description: Too Many Requests
          headers:
            retry-after:
              type: string
              format: date-time
              description: The time at which the rate limit will be revoked.
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "500":
          description: Internal Server Error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
  "/api/v2/assets/{display_id}":
    get:
      operationId: get-asset
      tags:
        - Assets
      summary: Retrieve a specific asset
      description: Retrieve a specific asset
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: display_id
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              asset:
                $ref: "#/definitions/asset"
        "401":
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "403":
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "404":
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/definitions/error"
        "406":
          description: Not Acceptable
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
[...]
